// Body
$body-bg: white;

// Typography
$font-family-sans-serif: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* Color Theme Swatches in Hex */
$Travel-1-hex: #025159;
$Travel-2-hex: #03A696;
$Travel-3-hex: #F28705;
$Travel-4-hex: #F25D27;
$Travel-5-hex: #F20505;

/* Color Theme Swatches in RGBA */
$Travel-1-rgba: rgba(1,80,89, 1);
$Travel-2-rgba: rgba(3,165,149, 1);
$Travel-3-rgba: rgba(242,135,4, 1);
$Travel-4-rgba: rgba(242,93,38, 1);
$Travel-5-rgba: rgba(242,4,4, 1);

/* Color Theme Swatches in HSLA */
$Travel-1-hsla: hsla(185, 96, 17, 1);
$Travel-2-hsla: hsla(174, 96, 33, 1);
$Travel-3-hsla: hsla(33, 96, 48, 1);
$Travel-4-hsla: hsla(16, 88, 55, 1);
$Travel-5-hsla: hsla(0, 96, 48, 1);
