// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.navbar-brand {
    background: black;
    color: white !important;
    padding-left: 15px;
    padding-right: 15px;
    font-size: .75rem;
    text-transform: uppercase;
}

@media screen and (max-width: 480px){

    .nav-item{
        padding: 5px 0px 5px 0px;

        //&:hover{
        //    background-color: red !important;
        //}
    }

    .nav-link{
        text-align: center;
    }
}

.navbar-toggler {
    border-radius: 0;
}

label {
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center !important;
    width: 100%;
}

.form-control {
    border-radius: 0 !important;
}

.btn {
    border-radius: 0 !important;
}

.btn-primary {
    background-color: white;
    border-color: black;
    color: black !important;

    &:hover {
        background-color: black;
        border-color: black;
        color: white !important;
    }
}

header {
    background: black;
}

header {
    position: relative;
    height: 130px;

    img {
        width: 100px;
        position: absolute;
        top: 15px;
        left: 50%;
        margin-left: -50px;
    }
}

#hero {
    min-height: 600px;
    background: url(/img/hero-img-lg.jpg) no-repeat top center;
    background-size: cover;
    position: relative;
    text-align: center;

    .lead {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .form {
        background: white;
        width: 400px;
        position: absolute;
        left: 40px;
        top: 40px;
        padding: 15px;
        border: solid 1px black;

        h1 {
            font-size: .75rem;
            text-transform: uppercase;
        }

        h2 {
            padding: 30px;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1;
            font-family: 'Pacifico', cursive;
            border-bottom: solid 1px #f5f5f5;
        }

        ul {
            line-height: 1;
            padding: 0;

            li {
                list-style: none;
                text-align: left;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: solid 1px black;
                text-align: center;
            }
        }
    }

    @media screen and (max-width: 768px) {
        background: url(/img/hero-img-sm.jpg) no-repeat top center;
    }

    @media screen and (max-width: 480px) {
        padding-top: 300px;
        background: url(/img/hero-img-xs.jpg) no-repeat top center;

        .form {
            width: 90%;
            margin: 0 auto;
            position: unset;
        }
    }
}

#features {
    padding-top: 120px;
    padding-bottom: 20px;

    ul {
        padding: 0;

        li {
            list-style: none;
            text-align: center;
            padding-top: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px black;
            text-transform: uppercase;
        }
    }

    @media screen and (min-width: 767px) {
        padding-top: 140px;
    }
}

#packages {
    background: black;
    color: white;
    padding: 40px 0 40px;

    ul {
        padding: 0;
        margin-top: 40px;

        li {
            list-style: none;
            border-bottom: dotted 1px white;
            padding: 5px 0 5px;
        }
    }
}

#accomodation {
    padding-top: 20px;
    padding-bottom: 60px;

    .item-img {
        position: relative;

        .plus {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%)
        }
    }

    h1 {
        text-align: center;
        padding-bottom: 40px;
        font-weight: bold;
    }

    @media screen and (max-width: 480px) {

        .item-img {
            margin-bottom: 15px;

        }
    }

    @media screen and (max-width: 767px) {

        .item-img {
            margin-bottom: 15px;
        }
    }
}

#testimonials {
    padding: 40px 0 40px;

    .testimonial {
        padding: 20px 0 20px;

        img {
            margin-bottom: 20px;
        }

        p {
            text-align: center;
            line-height: 1;
            min-height: 70px;
        }
    }
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 60px;
    font-size: .8em;

    a {
        color: white;
        font-weight: bold;

        &:hover {
            color: white;
            text-decoration: underline;
        }
    }

    .social-icons{
        margin-top: 10px;

        a {
            color: white;
            font-weight: bold;
            margin: 5px;
        }

        a:hover{
            color: #6c757d;
        }
    }
}

#cta {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;

    .inner {
        width: 90%;
        margin: 0 auto;
        border-radius: 10px 10px 0 0;

        .col-3{
            padding-top: 10px;
            padding-bottom: 5px;
        }

        a {
            color: white;
        }

        .whatsapp{
            background: $Travel-1-hex;
        }

        .messenger{
            background: $Travel-2-hex;
        }

        .phone{
            background: $Travel-3-hex;
        }

        .contact{
            background: $Travel-4-hex;
        }
    }

    @media screen and (max-width: 480px){
        position: fixed;
        bottom: 35px;
        width: 100%;
        margin: 0;
        margin-bottom: -35px;

        .inner{
            width: 100%;
        }
    }

    @media screen and (min-width: 767px) {
        .inner {
            max-width: 350px;
        }
    }
}

.ssl {
    margin-top: 20px;
    margin-bottom: 20px;
}

#title {
    padding-top: 40px;
    padding-bottom: 40px;

    h1 {
        text-align: center;
    }
}

#form {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    p {
        margin-bottom: 40px;
    }
}

#content {
    padding-bottom: 40px;
}

#content p {
    text-align: justify;
}

#call-now {
    background: black;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: white;
}

#blog-content {
    padding: 10px 0 40px;

    .post {
        position: relative;
        margin-bottom: 15px;

        span {
            position: absolute;
            width: 100%;
            bottom: 0;
            background: white;
            color: black;
            font-weight: bold;
            margin: 5px;
            padding: 10px;
            text-align: right;
            border-bottom: solid 3px $secondary;
            border-right: solid 1px $secondary;
            text-transform: uppercase;
            font-size: 12px;
            left: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    #blog-content {
        padding: 0;

        .post {
            padding-bottom: 5px;

            span {
                margin: 0;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }

    #title h1 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 676px) {
    #content .img {
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}
