<template>
    <div class="ssl">
        <img src="https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png" alt="Positive SSL Logo">
    </div>
</template>

<script type="text/javascript"> //<![CDATA[
var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
//]]></script>
<script language="JavaScript" type="text/javascript">
    TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
</script>

<script>
    export default {
        mounted() {
            console.log('SSL Component mounted.');
        }
    }
</script>
